* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

header {
    padding-top: 80px;
    height: 600px;
    width: auto;
    /* background-color: #CF9B54; */
    /* color: #E0333A; */
    border-top: solid black 4px;
}

h1 {
    font-size: 100px;
    line-height: 90%;
    margin-bottom: 30px;
    margin-top: -60px;
    font-family: "Montserrat", sans-serif;
    /* font-weight: bold; */
    color: #E0333A;
}

h1 em {
    /* color:aqua; */
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-style: italic;
    /* display: block; */
}

header > p:first-of-type {
    font-family: "GFS Didot", serif;
    font-style: italic;
    font-size: 100px;
    margin-top: -40px;
    font-weight: thin;
    color: #E0333A;
}

header > p:nth-of-type(2) {
    font-family: "Montserrat", sans-serif;
    font-size: 100px;
    margin-top: -20px;
    margin-bottom: 40px;
    font-weight: thin;
    /* display: inline; */
    color: #E0333A;
}

header > p:nth-of-type(2) em {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-style: italic;
}

header > p:nth-of-type(3) {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 20px;
}
header > p:nth-of-type(4) {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 20px;
}
header > p:nth-of-type(5) {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 20px;
}

main nav {
    width: 100%;
    /* margin-left: 940px; */
    color: #585656;
    position: sticky;
    /* top: 30px; */
    background-color: white;
    height: 100px;
    display: flex;
    top: 0px;
    z-index: 1000;  
    align-items: center;
    margin-top: -100px;
    font-weight: bold;
}
main nav ul {
    margin-left: 900px;
    /* margin-top: 100px; */
}

main nav li {
    display: inline;
    margin-left: 100px;
    text-decoration: underline;
    font-family: "Playfair Display", serif;
    font-size: 20px;
}

.author-info {
	font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 160%;
    /* text-align: center; */
}


footer {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 160%;
    border-bottom: solid black 4px;
    font-family: "Montserrat", sans-serif;
}

footer p {
    padding-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 3fr; /* First column is twice as wide as the second */
    grid-template-rows: 3200px 900px; /* First row is shorter than the second */
    gap: 0px; /* Space between grid items */
}

.box {
    padding: 20px;
    /* border: 1px solid #ddd; */
    /* background-color: #f4f4f4; */
    text-align: left;
    font-size: 18px;
}

.box1 {
    /* background-color: #e3f2fd; */
    padding-left: 60px;
}

.box3 {
    /* background-color: #c8e6c9; */
    padding-left: 60px;
}

.box2, .box4{
	font-family: "Open Sans", sans-serif;
    line-height: 180%; /* Body copy needs looser vertical spacing. */
	max-width: 100ch; /* Limit the line-lengths (approximate characters). */
}
.excerpt{
    font-family: "Abril Fatface", serif;
	font-weight: bold;
    font-size: 28px;
    line-height: 140%;
    max-width: 20ch;
    color: #C70039;
}

main  p {
    margin-bottom: 60px;
}

.note {
	font-family: "Abril Fatface", serif;
	font-style: italic;
	font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    max-width: 20ch;
}

.first_letter {
    color: #C70039;
    font-size: 60px;
    font-family: "Playfair Display", serif;
}

blockquote {
    padding-left: 60px;
    padding-bottom: 80px;
    font-family: "Playfair Display", serif;
    font-size: 40px;
    line-height: 120%;
    font-style: italic;
}

.bold {
    font-weight: bold;
    font-size: 24px;
    font-family: "Playfair Display", serif;
}

cite {
    font-style: italic;
    text-decoration: underline;
    color:#EC9813;
}