body { 
	color: rgb(154, 191, 249);
	font-family: 'Poppins', serif;
	font-size: 16px;
}
h1 {
	color: plum;
}
h2 {
	color: dodgerblue;
	font-size: 40px;
	max-width: 320px;
}

p {
	max-width: 400px;
}

.introduction-paragraph {
	font-size: 34px;
	font-weight: bold;
}